.Wdate{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;
}

#date_container .text{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;	
}

#dateh_container .text{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;	
}

#datehm_container .text{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;	
}

#datehms_container .text{
	border:#999 1px solid;
	height:20px;
	background:#fff url(datePicker.gif) no-repeat right;	
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}